#userInput {
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    box-shadow: 0 0 5px #fff;
    width: 500px;
}

.inputBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.imageContainer {
    display: grid;
    grid-template-columns: repeat(4,300px);
    justify-content: center;
    gap: 20px;
}

@media (max-width: 1220px) {
    .imageContainer {
        grid-template-columns: repeat(3, 300px);
    }
}

@media (max-width: 1000px) {
    .imageContainer {
        grid-template-columns: repeat(2, 300px);
    }
}

@media (max-width: 767px) {
    .imageContainer {
        grid-template-columns: repeat(1, 300px);
    }
    #userInput {
        width: 80%;
    }
}

